@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f9f6f0;
  background-color: #0a1f2b;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a1f2b;
}
::-webkit-scrollbar-thumb {
  background: #112e3e;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f5820d;
}